<div class="container">
    <div class="row ship-grid" data-masonry='{"percentPosition": true }'>
        <div class="col-lg-4 heading">
            <app-tab-card [data]="getHeadingData()"></app-tab-card>
        </div>
        <div class="col-lg-4 movement">
            <app-tab-card [data]="getMovementData()"></app-tab-card>
        </div>
        <div class="col-lg-4 thrust">
            <app-tab-card [data]="getThrustData()"></app-tab-card>
        </div>
        <div class="col-lg-4 flight-misc">
            <app-tab-card [data]="getFlightMiscData()"></app-tab-card>
        </div>
        <div class="col-lg-4 frame-shift">
            <app-tab-card [data]="getFrameShiftData()"></app-tab-card>
        </div>
        <div class="col-lg-4 targeting">
            <app-tab-card [data]="getTargetingData()"></app-tab-card>
        </div>
        <div class="col-lg-4 weapons">
            <app-tab-card [data]="getWeaponsData()"></app-tab-card>
        </div>
        <div class="col-lg-4 utilities">
            <app-tab-card [data]="getUtilitiesData()"></app-tab-card>
        </div>
    </div>
</div>