<div class="row grid srv-grid" data-masonry='{"itemSelector": "grid-item", "percentPosition": true}'>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item heading">
        <app-tab-card [data]="getHeadingData()"></app-tab-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item movement">
        <app-tab-card [data]="getMovementData()"></app-tab-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item driving-misc">
        <app-tab-card [data]="getDrivingMiscData()"></app-tab-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item targeting">
        <app-tab-card [data]="getTargetingData()"></app-tab-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item weapons">
        <app-tab-card [data]="getWeaponsData()"></app-tab-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item headlook">
        <app-tab-card [data]="getHeadlookData()"></app-tab-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item menu">
        <app-tab-card [data]="getMenuData()"></app-tab-card>
    </div>
</div>