<div class="row grid map-grid" data-masonry='{"itemSelector": "grid-item", "percentPosition": true}'>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item map-controls">
        <app-tab-card [data]="getMapControlsData()"></app-tab-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item camera-controls">
        <app-tab-card [data]="getCameraControlsData()"></app-tab-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-item ui-controls">
        <app-tab-card [data]="getUiControlsData()"></app-tab-card>
    </div>
</div>