i.key-sprite {
    display: inline-block;
    width: 32px;
    height: 32px;
    zoom: 0.75;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}
i.key-sprite.GamePad_RThumb {
    background: url('/assets/img/GameControllerButtons.png') -128px -64px no-repeat;
}
i.key-sprite.GamePad_RStickX {
    background: url('/assets/img/GameControllerButtons.png') -96px -64px no-repeat;
}
i.key-sprite.Pos_GamePad_RStickX {
    background: url('/assets/img/GameControllerButtons.png') -160px -64px no-repeat;
}
i.key-sprite.Neg_GamePad_RStickX {
    background: url('/assets/img/GameControllerButtons.png') -64px -64px no-repeat;
}
i.key-sprite.GamePad_RStickY {
    background: url('/assets/img/GameControllerButtons.png') -224px -64px no-repeat;
}
i.key-sprite.Pos_GamePad_RStickY {
    background: url('/assets/img/GameControllerButtons.png') -192px -64px no-repeat;
}
i.key-sprite.Neg_GamePad_RStickY {
    background: url('/assets/img/GameControllerButtons.png') -32px -64px no-repeat;
}
i.key-sprite.GamePad_LThumb {
    background: url('/assets/img/GameControllerButtons.png') -128px -32px no-repeat;
}
i.key-sprite.GamePad_LStickX {
    background: url('/assets/img/GameControllerButtons.png') -96px -32px no-repeat;
}
i.key-sprite.Pos_GamePad_LStickX {
    background: url('/assets/img/GameControllerButtons.png') -160px -32px no-repeat;
}
i.key-sprite.Neg_GamePad_LStickX {
    background: url('/assets/img/GameControllerButtons.png') -64px -32px no-repeat;
}
i.key-sprite.GamePad_LStickY {
    background: url('/assets/img/GameControllerButtons.png') -224px -32px no-repeat;
}
i.key-sprite.Pos_GamePad_LStickY {
    background: url('/assets/img/GameControllerButtons.png') -192px -32px no-repeat;
}
i.key-sprite.Neg_GamePad_LStickY {
    background: url('/assets/img/GameControllerButtons.png') -32px -32px no-repeat;
}
i.key-sprite.GamePad_DPadUp {
    background: url('/assets/img/GameControllerButtons.png') -192px -96px no-repeat;
}
i.key-sprite.GamePad_DPadRight {
    background: url('/assets/img/GameControllerButtons.png') -160px -96px no-repeat;
}
i.key-sprite.GamePad_DPadDown {
    background: url('/assets/img/GameControllerButtons.png') -32px -96px no-repeat;
}
i.key-sprite.GamePad_DPadLeft {
    background: url('/assets/img/GameControllerButtons.png') -64px -96px no-repeat;
}
i.key-sprite.GamePad_FaceUp {
    background: url('/assets/img/GameControllerButtons.png') -96px 0px no-repeat;
}
i.key-sprite.GamePad_FaceRight {
    background: url('/assets/img/GameControllerButtons.png') -32px 0px no-repeat;
}
i.key-sprite.GamePad_FaceDown {
    background: url('/assets/img/GameControllerButtons.png') -0px 0px no-repeat;
}
i.key-sprite.GamePad_FaceLeft {
    background: url('/assets/img/GameControllerButtons.png') -64px 0px no-repeat;
}
i.key-sprite.GamePad_LBumper {
    background: url('/assets/img/GameControllerButtons.png') -128px 0px no-repeat;
}
i.key-sprite.GamePad_RBumper {
    background: url('/assets/img/GameControllerButtons.png') -192px 0px no-repeat;
}
i.key-sprite:is(.Pos_GamePad_LTrigger, .Neg_GamePad_LTrigger, .GamePad_LTrigger) {
    background: url('/assets/img/GameControllerButtons.png') -160px 0px no-repeat;
}
i.key-sprite:is(.Pos_GamePad_RTrigger, .Neg_GamePad_RTrigger, .GamePad_RTrigger) {
    background: url('/assets/img/GameControllerButtons.png') -224px 0px no-repeat;
}
i.key-sprite.GamePad_Back {
    background: url('/assets/img/GameControllerButtons.png') -192px -128px no-repeat;
}
i.key-sprite.GamePad_Forward {
    background: url('/assets/img/GameControllerButtons.png') -192px -160px no-repeat;
}