div i span {
    display: inline-block;
    width: 32px;
    height: 32px;
}
span.GamePad_RStickX {
    background: url('/assets/GameControllerButtons.png') -96px -64px no-repeat;
}
span.GamePad_RStickY {
    background: url('/assets/GameControllerButtons.png') -224px -64px no-repeat;
}
span.GamePad_LStickX {
    background: url('/assets/GameControllerButtons.png') -96px -32px no-repeat;
}
span.GamePad_LStickY {
    background: url('/assets/GameControllerButtons.png') -224px -32px no-repeat;
}
span.GamePad_DPadUp {
    background: url('/assets/GameControllerButtons.png') -192px -96px no-repeat;
}
span.GamePad_DPadRight {
    background: url('/assets/GameControllerButtons.png') -160px -96px no-repeat;
}
span.GamePad_DPadDown {
    background: url('/assets/GameControllerButtons.png') -32px -96px no-repeat;
}
span.GamePad_DPadLeft {
    background: url('/assets/GameControllerButtons.png') -64px -96px no-repeat;
}
span.GamePad_FaceUp {
    background: url('/assets/GameControllerButtons.png') -96px 0px no-repeat;
}
span.GamePad_FaceRight {
    background: url('/assets/GameControllerButtons.png') -32px 0px no-repeat;
}
span.GamePad_FaceDown {
    background: url('/assets/GameControllerButtons.png') -0px 0px no-repeat;
}
span.GamePad_FaceLeft {
    background: url('/assets/GameControllerButtons.png') -64px 0px no-repeat;
}